<div
  class="all d-flex flex-column justify-content-cente align-items-center"
  *ngIf="weatherData"
>
  <!--=============================== start submit button=========================== -->
  <form (submit)="onSubmit()">
    <input
      type="text"
      name="city"
      [(ngModel)]="cityName"
      placeholder="Search City"
    />
  </form>
  <!--================================= End submit button=========================== -->
  <div class="containe">
    <!--=============================== start upper app============================== -->
    <div class="upper-app">
      <img
        class="img-fluid"
        *ngIf="weatherData.forecast.forecastday[0].day.avgtemp_c < 15"
        src="assets/Winter-Forecast-US-Top-banner-650x275-opti.jpg"
      />

      <img
        class="img-fluid"
        *ngIf="
          weatherData.forecast.forecastday[0].day.avgtemp_c > 15 &&
          weatherData.forecast.forecastday[0].day.avgtemp_c < 20
        "
        src="assets/elements-of-weather-and-instruments-measuring-them-2.jpg"
      />
      <img
        class="img-fluid"
        *ngIf="weatherData.forecast.forecastday[0].day.avgtemp_c >= 20"
        src="assets/desert-landscape-with-cactuses-mountains-background_786255-255.jpg"
      />
      <div
        class="data d-flex flex-column justify-content-center align-items-center"
      >
        <div class="location">{{ weatherData.location.name }}</div>
        <div class="tempreature mt-3">
          {{
            weatherData.forecast.forecastday[0].day.avgtemp_c | number : "1.0-0"
          }}
          °C
        </div>
      </div>
    </div>
    <!--=============================== End upper app============================== -->
    <!--=============================== start lower app============================== -->
    <div class="lower-app mt-2">
      <p>More Information</p>
      <div class="details row mt-3">
        <div class="min d-flex justify-content-evenly align-items-center col-6">
          <div class="icon d-flex flex-column align-items-center">
            <img
              class="img-fluid"
              src="../assets/cold-159379_640.webp"
              alt=""
            />
            <span>Min</span>
          </div>
          <p>
            {{
              weatherData.forecast.forecastday[0].day.mintemp_c
                | number : "1.0-0"
            }}
            °C
          </p>
        </div>
        <div class="max d-flex justify-content-evenly align-items-center col-6">
          <div class="icon d-flex flex-column align-items-center">
            <img class="img-fluid" src="../assets/hot-159386_640.webp" alt="" />
            <span>Max</span>
          </div>
          <p>
            {{ weatherData.forecast.forecastday[0].day.maxtemp_c }}
            °C
          </p>
        </div>
        <div
          class="humidity d-flex justify-content-evenly align-items-center col-6"
        >
          <div class="icon d-flex flex-column align-items-center">
            <img
              class="img-fluid"
              src="../assets/hand-1527795_1280.png"
              alt=""
            />
            <span>Humidity</span>
          </div>
          <p>
            {{
              weatherData.forecast.forecastday[0].day.avghumidity
                | number : "1.0-0"
            }}
            %
          </p>
        </div>
        <div
          class="wind d-flex justify-content-evenly align-items-center col-6"
        >
          <div class="icon d-flex flex-column align-items-center">
            <img
              class="img-fluid"
              src="../assets/whirlwind-311331_1280.png"
              alt=""
            />
            <span>Wind</span>
          </div>
          <p>{{ weatherData.current.wind_kph | number : "1.0-0" }} km/h</p>
        </div>
      </div>
    </div>
    <!--=============================== End lower app============================== -->
  </div>
</div>

<router-outlet></router-outlet>
