* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.all {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  background-color: #3c429e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containe {
  width: 400px;
  height: 80vh;
  margin: auto;
  border-radius: 20px;
  background-color: #4c52ad;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
/* =================================start submit button============================ */
form {
  position: relative;
  top: 45px;
}

input {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: #4c52ad;
  color: #ededed;
  text-align: center;
}

/* ==========================end submit button =======================*/
/*========================== start upper app=======================*/
.upper-app {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.upper-app img {
  filter: blur(0.9px);
  height: 100%;
  -webkit-filter: blur(0.9px);
}
.data {
  position: absolute;
  top: 30%;
  left: 33%;
  color: white;
  z-index: 1;
  font-weight: bold;
}

.location {
  font-size: 24px;
  letter-spacing: 0.2rem;
}

/* ==============================End upper app=====================*/
/*=============================== start lower app============================== */
.tempreature {
  font-size: 48px;
  font-weight: bold;
}
.lower-app {
  height: 40vh;
  color: white;
}

.lower-app > p {
  margin-inline-start: 20px;
}
.details {
  background-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  height: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto;
}

.icon img {
  width: 20px;
  height: 30px;
}
.icon span {
  font-size: 12px;
}
.details p {
  font-size: 14px;
}
/*=============================== End lower app============================== */
